Blogmailer#register

<!DOCTYPE html>
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
 <body>
		<h1>Welcome, <%= @doctor.name %></1>
		<p> You have successfully signed up </p>
		<p>Thanks for joining, and enjoy our quick and easy way to make appointments</p>
 </body>
</html>
