<h1 align=center>Welcome </h1>
<br />
<p align=center >Please feel free to make an appointment. </p>
<br />
<p align=center> Not yet registered? <br />
<%= link_to "Sign Up as a doctor !", new_doctor_path %>
 | <%= link_to "Sign Up as a patient !", new_patient_path %>
</p>

